<footer class="py-12 bg-gray-800 text-white">
  <div class="container mx-auto text-center">
    <p>&copy; 2024 Accletra. All rights reserved.</p>
    <div class="mt-4">
      <a href="/features" class="px-4">Features</a>
      <a href="/pricing" class="px-4">Pricing</a>
      <a href="/blog" class="px-4">Blog</a>
    </div>
  </div>
</footer>